*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Outfit',sans-serif;
    background:#f8fafc;
    color:#0f172a;
    overflow-x:hidden;
}

/* NAVBAR */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;

    background:linear-gradient(
        90deg,
        #0f172a,
        #1e293b
    );

    z-index:1000;
}

.navbar{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 8%;
}

.logo{

    font-size:2rem;

    font-weight:700;

    color:#22d3ee;
}

.home-btn{

    width: 50px;
    height:50px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    border-radius:50%;

    background:transparent;

    border:2px solid rgba(255,255,255,0.25);

    color:#f7f2f2;

    font-size:1.5rem;

    transition:all 0.3s ease;
}

.home-btn:hover{

    background:rgba(255,255,255,0.08);

    transform:translateY(-3px);

    box-shadow:0 0 15px rgba(34,211,238,0.25);
}
/* HERO */

.hero{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:120px 20px;
}

.hero-content{

    max-width:1000px;
}

.hero-tag{

    color:#22d3ee;

    letter-spacing:6px;

    font-size:.9rem;

    font-weight:600;
}

.hero h1{

    font-size:5rem;

    font-weight:800;

    margin:20px 0;
}

.hero p{

    font-size:1.5rem;

    color:#64748b;

    margin-bottom:40px;
}

/* HERO BUTTONS */

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:15px;

    flex-wrap:wrap;

    margin-top:35px;
}

.hero-btn{

    min-width: 140px;

    height: 45px;

    padding: 0 20px;

    display:flex;
    justify-content:center;
    align-items:center;

    text-decoration:none;

    border-radius:10px;

    font-size:0.95rem;

    font-weight:600;

    transition:all 0.3s ease;
}

.hero-btn:hover{

    transform:translateY(-4px);

    box-shadow:0 10px 25px rgba(37,99,235,.25);
}

.secondary-btn{

    background:transparent;

    color:#2563eb;

    border:2px solid #2563eb;
}

.secondary-btn:hover{

    background:#2563eb;

    color:white;
}

/* ABOUT */

.about{

    padding:140px 10%;

    text-align:center;
}

.about-content{

    max-width:1000px;

    margin:auto;
}

.about h2{

    font-size:4rem;

    margin-bottom:40px;
}

.about p{

    font-size:1.5rem;

    line-height:1.8;

    color:#64748b;
}

/* PROJECTS */

.projects{

    padding:120px 10%;
}

.projects h2{

    text-align:center;

    font-size:4rem;

    margin-bottom:60px;
}

.projects-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:30px;
}

.project-card{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;
}

.project-card:hover{

    transform:translateY(-8px);
}

/* CONTACT */

.contact{

    padding:120px 10%;

    text-align:center;
}

.contact h2{

    font-size:4rem;

    margin-bottom:20px;
}

.contact p{

    margin-bottom:40px;

    color:#64748b;
}

.contact-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.contact-btn{

    width:180px;

    height:55px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    color:white;

    background:#2563eb;

    border-radius:12px;

    transition:.3s;
}

.contact-btn:hover{

    transform:translateY(-4px);
}

/* FOOTER */

footer{

    background:#0f172a;

    color:white;

    text-align:center;

    padding:30px;
}

/* MOBILE */

@media(max-width:768px){

    .navbar{

        padding:20px;
    }

    .logo{

        font-size:1.5rem;
    }

    .home-btn{

        width:55px;
        height:55px;
    }

    .hero h1{

        font-size:3.5rem;
    }

    .hero p{

        font-size:1.2rem;
    }

    .about h2,
    .projects h2,
    .contact h2{

        font-size:3rem;
    }

    .about p{

        font-size:1.1rem;
    }
}